@model hastanerandevusistemi.Models.HastaneClass

@{
    ViewData["Title"] = "Hastane Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hastane Ekle</h1>

<h4>HastaneClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hastil" class="control-label"></label>
                <input asp-for="hastil" class="form-control" />
                <span asp-validation-for="hastil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hastilce" class="control-label"></label>
                <input asp-for="hastilce" class="form-control" />
                <span asp-validation-for="hastilce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hastisim" class="control-label"></label>
                <input asp-for="hastisim" class="form-control" />
                <span asp-validation-for="hastisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Hastaneler">Geri Dön</a>
</div>

