@model hastanerandevusistemi.Models.HastaneClass

@{
    ViewData["Title"] = "Hastane Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hastaneyi Sil</h1>

<h3>Bu hastaneyi silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           İl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hastil)
        </dd>
        <dt class = "col-sm-2">
           İlçe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hastilce)
        </dd>
        <dt class = "col-sm-2">
            Hastane İsim
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hastisim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="hastid" />
        <input onclick="msj()" type="submit" value="Sil" class="btn btn-danger" /> 
        <a class="btn btn-success" asp-action="Hastaneler" role="button">Geri Dön</a>
        <script>
            function msj() {
                alert("Hastane başarıyla silindi.");
            }
        </script>
    </form>
</div>
