<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        section {
            text-align: center;
            margin-top: 150px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .button {
            background-color: rgba(255, 255, 255, .1);
            color: #fff;
            border: none;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            text-align:center;
            width:300px;
            height:300px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            /* Hover efekti için geçiş süresi ve efekt tipi ayarı */
        }

            .button:hover {
                background-color: rgba(255, 255, 255, .3); /* Hover durumunda arka plan rengini değiştir */
                transform: scale(1.1); /* Hover durumunda butonu büyüt */
            }

    </style>
</head>
<body>
    <section>
        <div class="button-container">
            <button onclick="window.location.href='/Doktorlar/Index'" class="button">@localizer["doktor"]</button>
            <button onclick="window.location.href='/Randevular/Index2'" class="button">@localizer["alinrand"]</button>
        </div>
    </section>
</body>
</html>
