@model hastanerandevusistemi.Models.Randevular

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="randID" />
            <div class="form-group">
                <label asp-for="randklinik" class="control-label"></label>
                <input asp-for="randklinik" class="form-control" />
                <span asp-validation-for="randklinik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randhekim" class="control-label"></label>
                <input asp-for="randhekim" class="form-control" />
                <span asp-validation-for="randhekim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randtarih" class="control-label"></label>
                <input asp-for="randtarih" class="form-control" />
                <span asp-validation-for="randtarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randsahip" class="control-label"></label>
                <input asp-for="randsahip" class="form-control" />
                <span asp-validation-for="randsahip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["gunc"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@localizer["geri"]</a>
</div>

