<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <title>Hastane Randevu Sistemi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/anastyle.css" />
    <style>
        /* CSS stilleri burada */

        /* Ek bir stiller ekleyebilirsiniz */
        .header.hidden {
            transform: translateY(-100%);
        }
    </style>

</head>
<body>
    <header class="header">
         <a href="/Dashboard/Display" class="logo">Hoşgeldiniz</a>
        <nav class="navbar">

            @if (User.IsInRole("user"))
            {
                <a href="/Dashboard/Display">Randevu Al</a>
                <a href="">Randevularım</a>
                <a href="">Profilim</a>
            }

            @if (User.IsInRole("admin"))
            {
                <a href="/Admin/Display">Admin Panel</a>
                <a href="">Profilim</a>
                <a href="/Hastaneler/Hastaneler">Hastaneler</a>
            }
            <a href="/UserAuthentication/Logout">Çıkış Yap</a>
        </nav>
    </header>
    <div class="content">
        @RenderBody()
    </div>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

    <script>
    // JavaScript kodu burada
    var lastScrollTop = 0;

    window.addEventListener("scroll", function() {
    var currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScrollTop > lastScrollTop) {
    // Aşağı kaydırılıyorsa, header'ı gizle
    document.querySelector(".header").classList.add("hidden");
    } else {
    // Yukarı kaydırılıyorsa, header'ı göster
    document.querySelector(".header").classList.remove("hidden");
    }

    lastScrollTop = currentScrollTop;
    });
    </script>
</body>

</html>
